body {
    padding: 0;
    margin: 0;
    background-color: #1E1C2A;
    font-family: Arial, Tahoma;
    color: white;
}

form {
    display: contents;
}

.align-items-center {
    display: flex;
    align-items: center;
}


.flatpickr-input, .select-field, .disabled-field {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    outline: 0;
    border: 1px solid #353343;
    border-radius: 0px;
    background: #14111d;
    color: #ffffff;
}

.select-field {
    min-width: 200px;
}

.flatpickr-input {
    width: 80px;
}


label {
    font-weight: bold;
}


.text-field {
    min-width: 200px;
}

.disabled-field {
    background: #606060;
    color: #ffffff;
    pointer-events: none;
}

.courier-form__submit-button {
    width: 300px;
    height: 60px;
}


.courier-region-list {
    background: #353343;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 0px;
}

.courier-region-list > table {
    background: #221f30;
    text-align: left;
    border-spacing: 10px;
}

.courier-region-list > table tr:nth-child(even) {
    background-color: #4A485E;
}

.main-page {
    display: grid;
    grid-template-columns: 40px 420px auto 40px;
    grid-template-rows: 40px 400px repeat(5, 40px);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}


.input-date-label {
    grid-area: 1 / 2 / 2 / 3;
}

.input-date-text {
    grid-area: 1 / 3 / 2 / 4;
}

.courier-region-list {
    grid-area: 2 / 2 / 3 / 4;
}

.courier-form__regionid-label {
    grid-area: 3 / 2 / 4 / 3;
}

.courier-form__regionid-id-select {
    grid-area: 3 / 3 / 4 / 4;
}

.courier-form__date-ride-from-moscow-label {
    grid-area: 4 / 2 / 5 / 3;
}

.courier-form__date-ride-from-moscow-text {
    grid-area: 4 / 3 / 5 / 4;
}

.courier-form__courierid-label {
    grid-area: 5 / 2 / 6 / 3;
}

.courier-form__courierid-select {
    grid-area: 5 / 3 / 6 / 4;
}

.courier-form__date-riderto-region-label {
    grid-area: 6 / 2 / 7 / 3;
}

.courier-form__date-riderto-region-text {
    grid-area: 6 / 3 / 7 / 4;
}


.courier-form__submit {
    grid-area: 7 / 2 / 8 / 4;
}


.courier-form {
    grid-area: 6 / 2 / 15 / 4;
    background-color: #569ff7
}































